// Variables

$deep-blue: #131d38;
$red: #E90100;


h2 {
    color: #131d38;
    cursor: pointer;
}

.box-shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.container {
    background: #fff;
    margin: 20px auto;
    padding: 30px 10px 30px 30px;
    width: 80%;
}

.border-radius {
    border-radius: 10px;
}
.border {
    border: 1px solid #e2e2e2;
}

.top-picture {
    //background-image: url('../img/ball.jpg');
    background-size: 100% 100%;
    margin: 0 auto;
    height: 500px;
    max-width: 1545px;
    position: relative;
    text-align: center;
    .logo {
        img {
            margin-top: 160px;
            width: 155px;
            opacity: .0;
            transition: opacity .6s;
        }
        z-index: 999999999;
    }
    z-index: 0;
    &:hover {
        .overlay {
            background-color: rgba(19, 29, 56, .8);
        }
        .logo {
            img {
                opacity: 1;
            }
            
        }
    }
}

header {
    margin-top: -80px!important;
    z-index: 1;
    .container {
        border-top: 33px solid $deep-blue;
    }
    .logo {
        img {
            width: 80%;
        }
    }
    .social {
        display: flex;
        justify-content: flex-end;
        .social-icons {
            background: $red;
            border-radius: 50%;
            cursor: pointer;
            height: 34px;
            margin-right: 20px;
            text-align: center;
            width: 34px;
            a {
                color: #fff;
                i {
                    color: #fff;
                    font-size: 20px;
                    margin-top: 7px;
                }
            }
        }
    }

    .header-media {
        margin-top: 53px;
    }
}

.navbar {
    border-radius: 0;
    padding: 5px;
    .navbar-nav {
        float: right;
    }
    a {
        color: $deep-blue;
        padding-bottom: 2px;
        transition: color .3ss;
        &:hover {
            background-color: transparent!important;
            color: $red;
        }
    }
}

.section-content {
    line-height: 1.5;
 
    p {
        font-weight: 500;
    }
}

.section-image {
    img {
        height: 710px;
        width: 100%;
    }
    margin-top: 20px;
    -webkit-clip-path: 
    polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: 
    polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.gallery {
    margin: 120px 0;
    max-width: 100%;
    overflow-x: visible;
    img {
        float: left;
        transition: transform .5s;
        width: 20%;
        &:hover {
            transform: scale(2);
        }
    }
}
